@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
margin: 0;
padding: 0;
height: 100vh;
display: flex;
justify-content: center;
 align-items: center;
 background: white; 
 
 font-family: 'Lato', sans-serif;
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

.container {
    padding: 50px;
    position: absolute;
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;

}

.slides input {
    display: none;
}

.reason {
    width: 20%;
    transition: 2s;
    position: relative;
}

.reason img {
    width: 800px;
    height: 500px;
}

/* MANUAL SLIDE NAVIGATION */

.navigation-manual{
position: absolute;
width: 800px;
margin-top: 510px;
display: flex;
justify-content: center;
}

.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
margin-right: 40px;
}

.manual-btn:hover{
    background: #242424;
}

#reason1:checked ~ .first {
    margin-left: 0;
}

#reason2:checked ~ .first {
    margin-left: -20%;
}

#reason3:checked ~ .first {
    margin-left: -40%;
}

#reason4:checked ~ .first {
    margin-left: -60%;
}

AUTOMATIC SLIDE NAVIGATION 

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
border: 2px solid red;
padding: 5px;
border-radius: 10px;
transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#reason1:checked ~ .navigation-auto .auto-btn1 {
    background: #242424;
}

#reason2:checked ~ .navigation-auto .auto-btn2 {
    background: #242424;
}

#reason3:checked ~ .navigation-auto .auto-btn3 {
    background: #242424;
}

#reason4:checked ~ .navigation-auto .auto-btn4 {
    background: #242424;
}



/*HOVER TEXT*/

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay > * /*this targets the children of this element (in this case, the title and the description*/ {
    transform: translateY(20px); /*animaiton to make text appear from bottom of image*/
    transition: transform 0.25s;
}

.image__overlay:hover > * /*targets child elements*/ {
    transform: translateY(0);
}

.image__overlay:hover {
    opacity: 100%;
   
}

.image__title {
    font-size: 2em;
    font-weight: bold;

}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
     
}

/* NAVIGATION */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

.personal__logo {
font-size: 25px;
color: #6037b1;
margin: 0 12px;
font-weight: bold;
}

/* CONTAINER */
#about-me {
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}